.produits-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.back-link {
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
}
.produit-details {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    max-width: 600px;
}
.produit-details img {
    margin: 0 auto;
    max-height: 400px;
    width: auto;
}
.button-container {
    width: 100%;
    /*margin: 0 auto;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.button-commander {
    width: 150px;
    height: 50px;
    background-color: white;
    color: #198754;
    margin: 0 1.2rem;
    text-align: center;
    text-decoration: none;
    padding: 0.8rem;
    border: 1px solid #198754;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.button-commander:hover {
    background-color: #198754;
    color: white;
}
.edit-produit-form {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.edit-form-section {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 1.2rem;
}
.edit-form-section img {
    width: 20%;
    height: 20%;
}
.edit-submit-btn {
    width: 250px;
    margin: 0 auto;
    border: none;
    padding: 0.8rem 0;
    background-color: #c5a880;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.edit-submit-btn:hover {
    box-shadow: 0 3px 15px gray;
    background-color: #dfc6a4;
}